.card {}
.card-image img {
    display: block;
    width: 100%;
}

.card-icon {}
.card-title {}
.card-content {}
.card-description {}

.card-header {}
.card-body {}
.card-footer {}
.card-hover {}

.card-top {}
.card-right {}
.card-left {}
.card-bottom {}

.card:hover .card-hover {}

/* card feature */

.card-feature {
    text-align: center;
    padding: 43px 17px 28px 17px;
}

.card-feature .card-icon {
    color: #70b147;
    margin-bottom: 16px;
    font-size: 56px;
}

.card-feature .card-title span,
.card-feature-secondary span{
    color: #0f5f5c;
}

.card-feature-secondary span

.card-feature .card-description {
    font-size: 14px;
}
.row {
    margin: 0 -17px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.row > .col {
    padding: 0 17px;
}

.col-4 {
    width: 25%;
}
.col-3 {
    width: 33.33%;
}
.col-2 {
    width: 50%;
}
.col-1 {
    width: 100%;
}

/* card-feature-secondary */

.card-feature-secondary .card-header {
    display: flex;
    align-items: center;
}
.card-left .card-icon {
    color: #70b147;
    font-size: 34px;
    margin-right: 22px;
}
.card-feature-secondary {
    padding: 0 17px;
}
.section-content span {
    font-size: 14px;
    color: #83a7a5;
    display: block;
}
@media (max-width: 768px) {
    .section-template .section-content {
        flex-direction: column-reverse;
    }
    .section-content .card-description {
        width: 100%;
    }
    .section-content .card-content-image {
        align-self: center;
        order: 1;
    }
    .name-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .secondary-section-inverse {
        padding: 50px 0;
    }
}
.pricing-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 75px;
}
.card-price {
    text-align: center;
    padding: 29px 55px 31px;
    border: 1px solid #c2d4d3;
}
.card-price .price-title {
    text-transform: uppercase;
    font-family: 'robotomedium';
    font-size: 15px;
    color: #6fb048;
    padding-bottom: 22px;
}
.price-value {
    padding-bottom: 20px;
}
.price-value p {
    font-size: 65px;
    font-family: 'montserratregular';
    color: #0f5f5c;
    margin: 0;
    line-height: 1;
}
.price-value span {
    font-family: 'robotoregular';
    color: #0f5f5c;
    font-size: 14px;
}
.card-price .price-description {
    font-size: 14px;
}
.card-price .price-description a {
    background-color: #84a8a6;
    padding: 15px 26px;
}
.card-price .price-description .premium-btn {
    background-color: #70b147;
}
.card-list .card-description {
    width: 33.33%;
    display: inline-block;
}
.card-list li {
    display: block;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
}


